{{#if user}}
<h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
<p>Email: {{user.email}}</p>

{{#if user.isAdmin}}
<div>Role: Administrador</div>
{{/if}}
{{#if user.isUser}}
<p>Role: Usuario</p>
{{/if}}
{{#if user.premium}}
<p>Role: Premium</p>
{{/if}}
{{else}}
<p>Please log in to view the products.</p>
{{/if}}
<div>
    {{#if user.isUser}}
    <form id="form-Carrito">
        <div>
            <label> ID Carrito: </label>
            <br />
            <input type="text" id="inputCarrito" style="margin-bottom: 16px" placeholder="ID Carrito Seleccionar" />
        </div>
        <div>
            <input type="submit" value="Seleccionar Carrito" />
        </div>
    </form>
    {{/if}}
    {{#if user.premium}}
    <form id="form-Carrito">
        <div>
            <label> ID Carrito: </label>
            <br />
            <input type="text" id="inputCarrito" style="margin-bottom: 16px" placeholder="ID Carrito Seleccionar" />
        </div>
        <div>
            <input type="submit" value="Seleccionar Carrito" />
        </div>
    </form>
    {{/if}}
    <h1>La lista de productos es: </h1>
    <h3>page {{products.rest.page}}</h3>
    {{#each products.productos}}
    <div class="card" style="width: 18rem; margin: 10px;">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{this.price}}$</h6>
            <p class="card-text">Descripcion : {{this.description}}</p>
            <p class="card-text">Code : {{this.code}}</p>
            <p class="card-text">Stock : {{this.stock}}</p>
            <p class="card-text">Categoria : {{this.category}}</p>
            <p class="card-text">Owner : {{this.owner}}</p>
            <a href="/productsMongo/{{this._id}}" class="card-link">View details</a>
            <br>
            <button id="addToCartButton" class="btn btn-success" onclick="putIntoCart('{{this._id}}')">Add to
                cart</button>
        </div>
    </div>
    {{/each}}
    {{#if products.rest.hasPrevPage}}
    <a href="/productsMongo?page={{products.rest.prevPage}}">⬅️{{products.rest.prevPage}}</a>
    {{/if}}

    <a>{{products.rest.page}}</a>

    {{#if products.rest.hasNextPage}}
    <a href="/productsMongo?page={{products.rest.nextPage}}">➡️{{products.rest.nextPage}}</a>
    {{/if}}
    <br>
    <br>
    <p>totalDocs {{products.rest.totalDocs}}</p>
    <p>limit {{products.rest.limit}}</p>
    <p>totalPages {{products.rest.totalPages}}</p>
    <p>pagingCounter {{products.rest.pagingCounter}}</p>
    <p>hay pagina anterior? {{products.rest.hasPrevPage}}</p>
    <p>hay pagina siguiente? {{products.rest.hasNextPage}}</p>
    <p>pagina anterior {{products.rest.prevPage}}</p>
    <p>pagina siguiente {{products.rest.nextPage}}</p>
</div>
<button id="mi-boton" onclick="Comprar()" class="btn btn-danger">Ver Carrito</button>
<script src="/js/mongoProducts.index.js"></script>